<template>
    <div>
        <!-- begin:: Page -->
        <!-- begin:: Header Mobile -->
        <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
            <div class="kt-header-mobile__logo">
                <a href="#">
                    <img alt="Logo" :src="logo_asset" />
                </a>
            </div>
            <div class="kt-header-mobile__toolbar">
                <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
                <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
            </div>
        </div>

        <!-- end:: Header Mobile -->
        <div class="kt-grid kt-grid--hor kt-grid--root">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->
                    <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                        <!-- begin:: Header Menu -->
                        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                        <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                            <div class="kt-header-logo">
                                <a href="">
                                    <img alt="Logo" :src="logo_asset" />
                                </a>
                                <p>
                                    Sistem Kearsipan DPMD Provinsi Bali
                                </p>
                            </div>
                        </div>
                        <!-- end:: Header Menu -->

                        <!-- begin:: Header Topbar -->
                        <div class="kt-header__topbar">
                            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                <div class="kt-header__topbar-wrapper">
                                    <div class="kt-header__topbar-user">
                                        <a :href="'login'" class="btn btn-secondary btn-login"><i class="fa fa-unlock-alt"></i> Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Header Topbar -->
                    </div>
                    <!-- end:: Header -->

                    <!-- begin :: Content -->
					<div class="kt-content  kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                        <!-- begin:: Hero -->
						<div class="kt-sc" style="background-image: url('assets/media/bg/500.jpg')">
							<div class="kt-container">
                                <div class="kt-sc-content">
                                    <div class="kt-sc--left">
                                        <div class="kt-image image-wagub">
                                            <img :src="logo_gubwagub" alt="Gubernur dan Wakil Gubernur Bali">
                                        </div>
                                    </div>
                                    <div class="kt-sc--right">
                                        <div class="kt-image image-nangunkerti">
                                            <img :src="logo_nagungkerti" alt="Nangun Kerti">
                                        </div>
                                        <div class="kt-decs">
                                            <h1>NANGUN SAT KERTHI LOKA BALI</h1>
                                            <h6>Melalui Pola Pembangunan Semesta Berencana Menuju Bali Era Baru</h6>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
                        <!-- end:: Hero -->
                        
                        <!-- begin:: Filter -->
                        <div class="kt-container kt-container--fluid mt-4">
                            <div class="kt-portlet kt-portlet--mobile">
                                <div class="kt-portlet__body">
                                    <h4 class="kt-form-title">Temukan Arsip Kerjasama</h4>
                                    <!-- <form>
                                        <div class="kt-section__body kt-laporan__filters">
                                            <div class="col-md-12">
                                                <div class="form-group ">
                                                    <label>Pencarian Global Semua Kerjasama, Desa, dan Kategori</label>
                                                    <div class="kt-input-icon kt-input-icon--right">
                                                        <input type="text" class="form-control" placeholder="Pencarian berdasarkan kata kunci..." id="generalSearch">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                                            <span><i class="la la-search"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form> -->
                                    <form class="kt-form kt-form--label-right'" @submit.stop.prevent="searchFilters" method="GET">
                                        <div class="kt-section__body kt-laporan__filters">
                                            <div class="col-md-12">
                                                <div class="form-group ">
                                                    <label>Pencarian Global Semua Desa, Kerjasama, dan Kategori</label>
                                                    <div class="kt-input-icon kt-input-icon--right">
                                                        <input name="search_keywords" v-model="selected.search_keywords" type="text" class="form-control" placeholder="Pencarian berdasarkan kata kunci..." id="generalSearch">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                                            <span><i class="la la-search"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-section__body kt-laporan__filters">
                                            <div class="kt-laporan__filter kt-laporan__filter-2">
                                                <div class="form-group">
                                                    <label class="col-form-label">Desa</label>
                                                    <div class="">
                                                        <select class="form-control kt-selectpicker" data-live-search="true" name="select_desa" v-model="selected.select_desa">
                                                            <option value="semua">Semua Desa</option>
                                                            <option v-for="village in villages" :key="village.index" :value="village.id">{{ village.nama_desa }}</option> 
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label">Jenis Kerjasama</label>
                                                    <div class="">
                                                        <select class="form-control kt-selectpicker" data-live-search="true" name="select_kerjasama" v-model="selected.select_kerjasama">
                                                            <option value="semua">Semua Kerjasama</option>
                                                            <option v-for="archive in archives" :key="archive.index" :value="archive.id">{{ archive.nama_arsip }}</option> 
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label">Kategori</label>
                                                    <div class="">
                                                        <select class="form-control kt-selectpicker" data-live-search="true" name="select_kategori" v-model="selected.select_kategori">
                                                            <option value="semua">Semua Kategori</option>
                                                            <option v-for="category in categories" :key="category.index" :value="category.id">{{ category.nama_kategori }}</option> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__foot">
                                            <div class="kt-form__actions kt-form__actions--right">
                                                <button type="button" class="btn btn-danger mr-1" id="reset" onclick="window.location.href=''">
                                                    <i class="flaticon2-reload"></i>
                                                    Reset
                                                </button>
                                                <button type="submit" class="btn btn-success" id="submit">
                                                    <i class="flaticon2-search"></i>
                                                    Cari
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Filter -->

                        <!-- begin:: Datatable -->
                        <div class="kt-container kt-container--fluid" v-if="data2 != null && data3 != 0 && status == true">
                            <div class="kt-portlet .kt-portlet--mobile mb-0">
                                <div class="kt-portlet__body summary-wrapper">
                                    <div class="kt-widget kt-widget--user-profile-3">
                                        <h5>Hasil Pencarian</h5>
										<div class="kt-widget__bottom summary">
                                            <div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon2-indent-dots"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Jumlah Total Arsip</span>
													<span class="kt-widget__value">{{ data3 }}</span>
												</div>
											</div>
											<div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon2-avatar"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Jumlah Kerjasama</span>
													<span class="kt-widget__value">{{ data2.jumlah_kerjasama }}</span>
												</div>
											</div>
											<div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon2-files-and-folders"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Jumlah Kategori</span>
													<span class="kt-widget__value">{{ data2.jumlah_kategori }}</span>
												</div>
											</div>
											<div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon2-map"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Jumlah Desa</span>
													<span class="kt-widget__value">{{ data2.jumlah_desa}}</span>
												</div>
											</div>
                                        </div>
									</div>
                                </div>
                                <div class="kt-portlet__body pt-1">
                                    <!--begin::Section-->
                                    <div class="kt-section">
                                        <div class="kt-section__content">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Nama Kabupaten</th>
                                                            <th>Nama Kecamatan</th>
                                                            <th>Desa</th>
                                                            <th>Jenis Kerjasama</th>
                                                            <th>Kategori Kerjasama</th>
                                                            <th>No Kerjasama</th>
                                                            <th>Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="value in data1.data" :key="value.index">
                                                            <td>{{ value.no }}</td>
                                                            <td>{{ value.nama_kabupaten }}</td>
                                                            <td>{{ value.nama_kecamatan }}</td>
                                                            <td>{{ value.nama_desa }}</td>
                                                            <td>{{ value.nama_arsip }}</td>
                                                            <td>{{ value.nama_kategori }}</td>
                                                            <td>{{ value.perjanjian }}</td>
                                                            <td>
                                                                <a :href="'public/upload/'+value.files" class="btn btn-info btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Lihat Berkas" data-original-title="Dark skin" target="_blank">
                                                                    <i class="flaticon2-clip-symbol"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Section-->
                                    <!--begin: Pagination-->
                                    <div class="kt-section">
                                        <div class="kt-pagination kt-pagination--sm kt-pagination--success" style="justify-content: center;">
                                            <vue-pagination :pagination="data1" 
                                                @paginate="searchFilters()" 
                                                :offset="4">
                                            </vue-pagination>
                                        </div>
                                    </div>
                                    <!--end::Pagination-->
                                </div>
                            </div>
                        </div>
                        <!-- end:: Datatable -->
                    </div>
                    <!-- end :: Content -->
                    <!-- begin:: Footer -->
                    <down></down>
                    <!-- end:: Footer -->
                </div>
            </div>
        </div>
        <!-- end:: Page -->
    </div>
</template>

<script>
    import axios from 'axios'
    import {LANDING_BASE} from '../Config/config'
    import Down from '../Layouts/Footer.vue'
    import VuePagination from '../Layouts/Pagination.vue'

    export default {
        name: 'Landing',
        components: {
            Down,
            VuePagination
        },
        data() {
            return {
                logo_asset: '/assets/media/logos/logo-mini-sm.png',
                logo_gubwagub: '/assets/media/misc/gubwagub.png',
                logo_nagungkerti: '/assets/media/misc/nangunkerti.png',
                archives: [],
                categories: [],
                villages:[],
                status: '',
                data1: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                data2: [],
                data3: [],
                selected: {
                    search_keywords: '',
                    select_desa: '',
                    select_kerjasama: '',
                    select_kategori: ''
                }
            }
        },
        created() {
            this.fetchOptions();
        },
        methods: {
            start() {
                this.$Progress.start()
            },
            finish () {
                this.$Progress.finish()
            },
            fail () {
                this.$Progress.fail()
            },
            searchFilters() {
                this.$Progress.start()
                // let url = `${LANDING_BASE}/getdata?select_desa=${this.selected.select_desa}&select_kerjasama=${this.selected.select_kerjasama}&select_kategori=${this.selected.select_kategori}&page=`
                // axios.get(url + this.data1.current_page, this.selected, {
                let url = `${LANDING_BASE}/getdata`
                axios.get(url, {
                    params: {
                        search_keywords: this.selected.search_keywords,
                        select_desa: this.selected.select_desa,
                        select_kerjasama: this.selected.select_kerjasama,
                        select_kategori: this.selected.select_kategori,
                        page: this.data1.current_page
                    }
                })
                .then(response => {
                    if(response.data.status === true){
                        this.data1 = response.data.data1
                        this.data2 = response.data.data2
                        this.data3 = response.data.data3
                        this.status = response.data.status
                        this.$Progress.finish()
                    }
                    else if(response.data.status === false){
                        this.$Progress.fail()
                        this.status = response.data.status
                        let message = response.data.message
                        $(document).ready(function() {
                            swal.fire({
                                title: message,
                                type: "error",
                                showConfirmButton: false,
                                timer: 3000
                            });
                        });
                    }
                })
                .catch(error => {
                    console.log(error)
                    this.$Progress.fail()
                })
            },
            fetchOptions() {
                let url = `${LANDING_BASE}/all-options`
                axios.get(url)
                    .then(response => {
                        this.archives = response.data.archives
                        this.categories = response.data.categories
                        this.villages = response.data.villages
                        this.$nextTick(function(){
                            $('.kt-selectpicker').selectpicker('refresh');
                        });
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        }
    }
</script>